version: "3"
services:
  postgres_db:
    image: "postgres:11.2-alpine"
    container_name: "postgres-home-automation"
    ports:
    - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=garage_door
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 2s

  flyway:
    image: "boxfuse/flyway:5.2.4"
    container_name: "flyway-home"
    command: >
      -url=jdbc:postgresql://postgres_db:5432/garage_door
      -user=postgres
      -password=password
      -connectRetries=20
      -locations=filesystem:/flyway/sql,filesystem:/flyway/testdata
      migrate
    volumes:
      - ./docker/flyway/migration:/flyway/sql
      - ./docker/flyway/local_testdata:/flyway/testdata
    depends_on:
    - postgres_db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: "rabbitmq-home"
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data: