[Unit]
Description=Home Automation API Service
After=multi-user.target

[Service]
EnvironmentFile=/home/pi/serviceEnvVariables
ExecStart=/usr/bin/python3 -u app.py
WorkingDirectory=/home/pi/home_automation_api
Restart=always
User=pi

[Install]
WantedBy=multi-user.target