[Unit]
Description=Home Automation API Service
After=network.target

[Service]
EnvironmentFile=/home/pi/home_automation_api/serviceEnvVariables
ExecStart=/home/pi/.local/bin/uwsgi --socket 0.0.0.0:5000 --protocol=http -w wsgi:app
WorkingDirectory=/home/pi/home_automation_api
Restart=always
User=pi

[Install]
WantedBy=multi-user.target