flask==2.1.2
flask_cors==3.0.9
dataclasses-json==0.6.7
pika==1.3.2
psycopg2==2.8.6
PyJWT==1.7.1
pytz==2020.4
requests==2.25.1
RPi.GPIO==0.7.0
SQLAlchemy==1.3.22
uwsgi==2.0.19.1
yoyo-migrations==7.2.1
